:root {
    --primary: #485B73;
    --secondary: #D5E5F2;
    --tertiary: #7E9ABF;
}

/* ------------
HEADER
---------------*/

.navbar{
    background-color: var(--primary);
}

/* LOGO */
.logo{
    height: 70px;
    margin-right: 6rem;
}

/* NAVBAR ITEM */
.nav-link{
    color: var(--secondary) !important;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.nav-link:hover{
    color: #222F40 !important;
    background-color: #A3BAD9;
}

.selected{
    background-color: var(--tertiary);
}

/* SEARCH */
.input-group{
    border: 1px solid var(--tertiary);
}

.form-control{
    background-color: var(--secondary);
    border: none;
}

.form-control:focus{
    background-color: var(--secondary);
    color: var(--primary);
    outline: none;
    box-shadow: none;
}

.search{
    width: 12vw !important;
}

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-results-button, input[type="search"]::-webkit-search-results-decoration {
     display: none;
}

#search{
    background-color: var(--secondary);
    color: var(--primary);
    border: none;
}

/* PROFILE */
.fa-user{
    color: var(--secondary);
    font-size: 40px;
}

/* HAMBURGUER */
.navbar-toggler:focus {
    box-shadow: none;
}

.fa-bars{
    color: var(--secondary);
    font-size: 40px;
}

/* HIDE MENU */
#bdNavbar{
    background-color: var(--primary);
}

/* MEDIAS */
@media (max-width: 1080px) {
    .logo {
        margin-right: 1rem;
    }
}

@media (max-width: 991px) {
    .nav-link{
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .navbar-toggler{
        height: 88px;
    }
}