/* ------------
HOME
---------------*/
/* IMAGE */
.image-container{
    position: relative;
    width: 100%;
    overflow: hidden;
}

.image{
    height: 180px;
}

.image img{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

/* ARROW */
.fa-arrow-right{
    font-size: 60px;
}

/* ------------
MEDIAS
---------------*/
@media (max-width: 1200px) {
    .hide-xl {
        display: none;
    }
}

@media (max-width: 992px) {
    .hide-lg {
        display: none;
    }
}

@media (max-width: 576px) {
    .hide-sm {
        display: none;
    }
}