/* Image style */
#profile{
    width: 200px;
    height: 200px;
    background-color: var(--primary);
    color: var(--secondary);
}

#price{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.btn{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}