/* ------------
PROFILE
---------------*/
/* IMAGE */
#image, #add, #preview{
    width: 200px;
    height: 200px;
    background-color: var(--primary);
    color: var(--secondary);
}

/* ADD */
#add{
    cursor: pointer;
}

/* EDIT */
.fa-pen{
    cursor: pointer;
}

.fa-times{
    cursor: pointer;
}