/* CONTAINER IMAGE */
#image{
    cursor: pointer;
    background-color: #F6F6F6;
}

/* ELEMENTS IMAGE */
.fa-plus{
    color: var(--primary);
    cursor: pointer;
}

.fa-trash{
    color: var(--primary);
    cursor: pointer;
    margin-left: 10px;
    margin-right: 35px;
}

/* DELETE POINTER */
.no-pointer{
    cursor: default !important;
    background-color: transparent !important;
}

/* BUTTON */
.btn-primary{
    background-color: var(--primary);
    border-color: var(--primary);
    color: var(--secondary);
    border-radius: 0.5rem;
    padding: 0.375em 1.5rem;;
}

.btn-primary:hover{
    color: #222F40 !important;
    background-color: #A3BAD9 !important;
    border-color: #A3BAD9 !important;
}

.btn-primary:focus, .btn-primary:active{
    box-shadow: none !important;
    color: var(--secondary) !important;
    border-color: var(--tertiary) !important;
    background-color: var(--tertiary) !important;
}