/* ------------
SALE
---------------*/
/* CONTAINER */
#image{
    cursor: pointer;
    background-color: #F6F6F6;
}

/* ELEMENTS */
.fa-plus{
    cursor: pointer;
}

.fa-trash{
    cursor: pointer;
    margin-left: 10px;
    margin-right: 35px;
}

/* DELETE POINTER */
.no-pointer{
    cursor: default !important;
    background-color: transparent !important;
}

/* ALERTS */
.swal2-styled.swal2-confirm{
    background-color: var(--primary) !important;
    box-shadow: none !important;
    outline: none;
}

.alert{
    padding: 1rem 3rem;
}

/* TEXTAREA */
#description{
    height: 100px;
}