/* CONTAINER IMAGE */
#image{
    cursor: pointer;
    background-color: #F6F6F6;
}

/* ELEMENTS IMAGE */
.fa-plus{
    color: var(--primary);
    cursor: pointer;
}

.fa-trash{
    color: var(--primary);
    cursor: pointer;
    margin-left: 10px;
    margin-right: 35px;
}

/* DELETE POINTER */
.no-pointer{
    cursor: default !important;
    background-color: transparent !important;
}

/* ADVICE ALERT */
.swal2-styled.swal2-confirm{
    background-color: var(--primary) !important;
    box-shadow: none !important;
    outline: none;
}

/* CONFIRMATION ALERT */
.alert{
    padding: 1rem 3rem;
}