{% extends 'app/base.html' %}
{% load static %}

{% block css %}

    <link rel="stylesheet" href="{% static 'css/home.css' %}">

{% endblock %}

{% block content %}

    <main class="p-5 pb-0"> 
        <div>
            <h2>Clock auctions</h2>
            <div class="row row-cols-2 row-cols-sm-4 row-cols-lg-5 row-cols-xl-6">
                {% for product in clock_products %}
                    <a href="{% url 'product' product.id %}" {% if forloop.counter0 == 4 %}class="hide-xl"{% elif forloop.counter0 == 3 %}class="hide-lg"{% elif forloop.counter0 > 0 %}class="hide-sm"{% endif %}>
                        <figure>
                            <div class="image-container"><div class="image"><img class="d-block w-100" src="{{ product.picture_set.first.image.url }}"></div></div>
                        </figure>
                    </a>
                {% endfor %}
                <a href="{% url 'section' 'clock'%}" class="my-auto"><i class="fas fa-arrow-right"></i></a>
            </div>
        </div>

        <div class="mt-4">
            <h2>Dutch auctions</h2>
            <div class="row row-cols-2 row-cols-sm-3 row-cols-lg-4 row-cols-xl-6">
                {% for product in dutch_products %}
                    <a href="{% url 'product' product.id %}">
                        <figure>
                            <div class="image-container"><div class="image"><img class="d-block w-100" src="{{ product.picture_set.first.image.url }}"></div></div>
                        </figure>
                    </a>
                {% endfor %}
                <a href="{% url 'section' 'dutch'%}" class="my-auto"><i class="fas fa-arrow-right"></i></a>
            </div>            
        </div>

        <div class="mt-4">
            <h2>Sealed bid auctions</h2>
            <div class="row row-cols-2 row-cols-sm-3 row-cols-lg-4 row-cols-xl-6">
                {% for product in sealed_products %}
                    <a href="{% url 'product' product.id %}">
                        <figure>
                            <div class="image-container"><div class="image"><img class="d-block w-100" src="{{ product.picture_set.first.image.url }}"></div></div>
                        </figure>
                    </a>
                {% endfor %}
                <a href="{% url 'section' 'sealed'%}" class="my-auto"><i class="fas fa-arrow-right"></i></a>
            </div>            
        </div>
    </main>
    
{% endblock %}