{% extends 'app/base.html' %}
{% load static %}
{% load mathfilters %}

{% block css %}

    <link rel="stylesheet" href="{% static 'css/product.css' %}">

{% endblock %}

{% block content %}
    <main class="p-5">
        <div class="d-md-flex justify-content-center">
            <div id="image" class="mx-auto mx-md-0 me-md-4">
                <div id="carousel" class="carousel slide" data-bs-interval="false" >
                    <div class="carousel-indicators">
                        {%for picture in product.picture_set.all %}
                            {% if product.picture_set.count != 1 %}<button type="button" data-bs-target="#carousel" data-bs-slide-to="{{forloop.counter0}}" {% if forloop.counter0 == 0 %} class="active" aria-current="true" {% endif %} aria-label="Slide {{forloop.counter0|add:"1"}}"></button> {% endif %}
                        {%endfor%}
                    </div>

                    <div class="carousel-inner">
                        {%for picture in product.picture_set.all %}
                            <div class="carousel-item {% if forloop.counter0 == 0 %}active{% endif %}">
                                <img src="{{picture.image.url}}" class="d-block w-100">
                            </div>
                        {%endfor%}
                    </div>

                    {% if product.picture_set.count != 1 %}
                        <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>

                        <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    {% endif %}
                </div>
            </div>

            <div>
                <h2>{{product.title}}</h2>
                <p>{{product.description}}</p>
    
                <h5 class="mb-3">{% if product.measure == 'units' %}{{product.quantity|floatformat}}{% else %}{{product.quantity}}{% endif %} {{product.measure}}</h5>
                
                <h6 class="d-none finished_date">{{product.finished_date|date:"M d, Y H:i:s" }}</h6>
                {% if not product.winner %}<h6 class="countdown"></h6>{% endif %}

                {% if product.type == 'dutch' and not product.winner %}
                    <h6 class="d-none created_date">{{product.created_date|date:"M d, Y H:i:s" }}</h6>
                    <h6 class="d-none initial_bid">{{product.initial_bid }}</h6>
                    <h6 class="d-none final_bid">{{product.final_bid }}</h6>             
                {% endif %}

                {% if product.type == 'clock' %}<h5>Current bid: {% if product.bid_set.count == 0 %}{{product.initial_bid}}{% else %}{{product.bid_set.last.price}}{% endif %}€</h5>{% endif %}

                {% if finished %}
                    <h6 class="mb-4" id="winner">{{product.winner}} win the bid for {{product.bid_set.last.price}}€</h6>
                {% elif user.is_authenticated %}
                    <div class="form-group mt-3 mt-md-0 mb-4">
                        <form class="d-flex" method="POST">
                            {% csrf_token %}
                            <div class="form-floating">        
                                <input type="number" class="form-control" id="price" name="price" {% if product.type != 'dutch' %} value="{% if product.bid_set.count != 0 and product.type == 'clock' %}{{product.bid_set.last.price|addition:"0.01"}}{% else %}{{product.initial_bid}}{% endif %}" min="{% if product.bid_set.count != 0 and product.type == 'clock' %}{{product.bid_set.last.price|addition:"0.01"}}{% else %}{{product.initial_bid}}{% endif %}" {% else %}readonly{% endif %} step=".01" required>
                                <label for="price">Price</label>
                            </div>
                            <button type="submit" class="btn btn-primary">Pay</button>
                        </form>
                    </div>
                {% else %}
                    <a href="{% url 'login' %}"><button class="btn btn-primary rounded mt-4 mt-md-0 mb-4">Login to bid</button></a>
                {% endif %}
                
                {% if product.type == 'clock' %}
                    {% if product.bid_set.count != 0 %}
                        <div class="bid m-auto mb-4 p-3 text-center">
                            <h5 class="mb-3">Bidding history</h5>
                            {%for bid in product.bid_set.all|dictsortreversed:"created_date"|slice:":5" %}                            
                                <div class="d-flex justify-content-between">
                                    <div class="me-md-4">{{bid.buyer}}</div>
                                    <div class="me-md-4">{{bid.created_date|date:"d/m/Y H:i:s"}}</div>
                                    <div>{{bid.price}}€</div>
                                </div>
                            {%endfor%}
                            {% if product.bid_set.count > 5 %}<p class="text-center mb-0">...</p>{% endif %}
                        </div>
                    {% endif %}                    
                {% endif %}
            </div>
        </div>

        <div class="d-flex m-auto" id="profile-container">
            {% if product.seller.profile.image %}
                <div id="profile" class="d-flex bg-transparent">
                    <img class="w-100 m-auto rounded-circle" src="{{ product.seller.profile.image.url }}"/>
                </div>
            {% else %}
                <div id="profile" class="d-flex align-items-center justify-content-center rounded-circle" >
                    <h1>{{ product.seller.first_name|slice:"1"|upper }}{{ product.seller.last_name|slice:"1"|upper }}</h1>
                </div>
            {% endif %}
            
            <div class="m-auto ms-4">
                <h5 class="mb-2 mb-sm-4">{{product.seller.get_full_name}}</h5>
                <div>
                    <i class="{% if product.seller.profile.stars == 0.5 %}fas fa-star-half-alt{% elif product.seller.profile.stars > 0.5 %}fas fa-star{% else %}far fa-star{% endif%}"></i>
                    <i class="{% if product.seller.profile.stars == 1.5 %}fas fa-star-half-alt{% elif product.seller.profile.stars > 1.5 %}fas fa-star{% else %}far fa-star{% endif%}"></i>
                    <i class="{% if product.seller.profile.stars == 2.5 %}fas fa-star-half-alt{% elif product.seller.profile.stars > 2.5 %}fas fa-star{% else %}far fa-star{% endif%}"></i>
                    <i class="{% if product.seller.profile.stars == 3.5 %}fas fa-star-half-alt{% elif product.seller.profile.stars > 3.5 %}fas fa-star{% else %}far fa-star{% endif%}"></i>
                    <i class="{% if product.seller.profile.stars == 4.5 %}fas fa-star-half-alt{% elif product.seller.profile.stars > 4.5 %}fas fa-star{% else %}far fa-star{% endif%}"></i>
                </div>
            </div>
        </div>
    </main>

{% endblock %}

{% block js %}

    <script src="{% static 'js/product.js' %}"></script>

{% endblock %}