{% extends 'app/base.html' %}
{% load static %}

{% block css %}

    <link rel="stylesheet" href="{% static 'css/sale.css' %}">

{% endblock %}

{% block content %}
    
    <main class="p-5">        
        <form class="d-md-flex justify-content-center" method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <div id="image" class="d-flex mx-auto mx-md-0 me-md-4 text-end" onclick="loadUpload()">
                
                <i class="fas fa-plus m-auto display-1"></i>
                <i class="fas fa-trash d-none h1" onclick="deleteImage()"></i>
                <input type="file" accept="image/*" multiple="multiple" id="upload" name="images" class="visually-hidden" onchange="settings()" required>

                <div id="carousel" class="carousel slide" data-bs-interval="false" >
                    
                    <div class="carousel-indicators"></div>    
                    <div class="carousel-inner"></div>
    
                    <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
    
                    <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>                
            </div>

            <div>
                <div class="form-group mt-3 mt-md-0 mb-3">
                    <label for="title">Title</label>
                    <input type="title" class="form-control mt-1" id="title" name="title" required>
                </div>
      
                <div class="form-group mb-3">
                      <label for="description">Description</label>
                      <textarea class="form-control mt-1" id="description" name="description" rows="2" required></textarea>
                </div>

                <div class="form-group mb-3">
                    <label for="origin">Country</label>
                    <select class="form-control form-select mt-1" id="origin" name="origin" required>
                        <option value="indifferent">Indifferent</option>
                        <option value="spain">Spain</option>
                    </select>
                </div>
      
                <div class="form-group mb-3">
                    <label for="type">Type</label>
                    <select class="form-control form-select mt-1" id="type" name="type" onchange="show(this.value)" required>
                        <option value="clock">Clock auctions</option>
                        <option value="dutch">Dutch auctions</option>
                        <option value="sealed">Sealed bid auctions</option>
                    </select>
                </div>

                <div class="form-group mb-3 d-flex">
                    <div class="w-100">
                        <label for="initial_bid">Floor price</label>
                        <input type="number" min="0" class="form-control" id="initial_bid" name="initial_bid" required>
                    </div>
                    <div class="d-none w-100 ms-2"id="show">
                        <label for="final_bid">Minimum price</label>
                        <input type="number" min="0" class="form-control" id="final_bid" name="final_bid">
                    </div>
                </div>
      
                <div class="form-group mb-3">
                    <label for="finished_date">Ending date</label>
                    <input type="datetime-local" min="" class="form-control mt-1" id="finished_date" name="finished_date" required>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </div>                        
        </form>
    </main>
    
{% endblock %}

{% block js %}

    <script src="{% static 'js/sale.js' %}"></script>

{% endblock %}