{% extends 'app/base.html' %}

{% load static %}

{% block css %}

    <link rel="stylesheet" href="{% static 'css/section.css' %}">

{% endblock %}

{% block content %}
    <main class="p-5">        

        {% if products|length != 0 %}
            <div class="row row-cols-2 row-cols-sm-3 row-cols-lg-4 row-cols-xl-5">
                {% for product in products %}
                    <a href="{% url 'product' product.id %}">
                        <figure>
                            <div class="image-container"><div class="image"><img class="d-block w-100" src="{{ product.picture_set.first.image.url }}"></div></div>
                            <h2>{{ product.title }}</h2>
                            <h6 class="d-none finished_date">{{product.finished_date|date:"M d, Y H:i:s" }}</h6>
                            {% if product.type == 'dutch' %}
                                <h6 class="d-none created_date">{{product.created_date|date:"M d, Y H:i:s" }}</h6>
                                <h6 class="d-none initial_bid">{{product.initial_bid }}</h6>
                                <h6 class="d-none final_bid">{{product.final_bid }}</h6>
                            {% elif product.type == 'clock' %}
                                <h5>Current bid: {% if product.bid_set.count == 0 %}{{product.initial_bid}}{% else %}{{product.bid_set.last.price}}{% endif %}€</h5>
                            {% endif %}
                                <h6 class="countdown mb-4"></h6>
                        </figure>
                    </a>
                {% endfor %}
            </div>
        {% else %}
            <div class="text-center">
                <h1>There are no products on sale</h1>
            </div>
        {% endif %}
    </main>   
    
{% endblock %}

{% block js %}

    <script src="{% static 'js/section.js' %}"></script>

{% endblock %}